@using MudBlazor

<MudDialog>
    <MudDialogTitle>Confirmation</MudDialogTitle>
    <MudDialogContent>
        <p>Are you sure you want to delete this transaction?</p>
    </MudDialogContent>
    <MudDialogActions>
        <MudButton OnClick="Cancel" Color="Color.Secondary">No</MudButton>
        <MudButton OnClick="Submit" Color="Color.Error">Yes</MudButton>
    </MudDialogActions>
</MudDialog>

@code {
    private MudDialogInstance MudDialog { get; set; }

    private void Submit() => MudDialog.Close(DialogResult.Ok(true));

    private void Cancel() => MudDialog.Cancel();
}
