.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

    .table thead {
        background-color: #f4f8fb;
        text-align: left;
    }

        .table thead th {
            padding: 12px;
            font-weight: 600;
            color: #34495e;
            border-bottom: 2px solid #e0e6ed;
        }

    .table tbody tr {
        border-bottom: 1px solid #e0e6ed;
        transition: background-color 0.2s ease;
        height:50px;
    }

        .table tbody tr:hover {
            background-color: #f9fbfc;
        }

    .table tbody td {
        padding: 12px;
        color: #4a4a4a;
        margin: 8px 0;
        vertical-align: middle;
    }
