.btn-tab{
    background-color:transparent;
    outline:none;
    border:none;
    min-width:80px;
    min-height:36px;
    padding: 6px 12px;
}

.btn-tab.active {
    background-color: transparent;
    border-bottom: 2px solid black;
    outline: none;
}
.btn-tab:focus {
    background-color: transparent;
    outline: none;
    border-bottom: 2px solid black;
}

.tagFilter {
    border-bottom: 2px solid lightgray; 
    width: 100%;
}

.chip {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    margin: 5px;
    width: fit-content;
}

.chip .icon {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
}

.chip.income {
    background-color: #ccffcc; 
    color: #006400; 
}

.chip.income .icon {
    background-color: #008000; 
}

.chip.expense {
    background-color: #ffcccc; 
    color: #8b0000; 
}

.chip.expense .icon {
    background-color: #ff0000; /
}

.chip.debt {
    background-color: #fff3cd; 
    color: #856404; 
}

.chip.debt .icon {
    background-color: #ffc107;
}
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1050;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.modal-dialog {
    min-width: 800px; 
    z-index: 2050;
    
}

.modal-content {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    animation: fadeIn 0.3s ease;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e9ecef;
    padding-bottom: 10px;
}

.modal-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
}

.modal-body {
    padding: 15px 0;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    border-top: 1px solid #e9ecef;
    padding-top: 10px;
}

.btn {
    padding: 8px 15px;
    font-size: 0.875rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
}

    .btn-secondary:hover {
        background-color: #545b62;
    }

textarea.form-control {
    resize: vertical;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1049; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

label{
    font-size:20px;
    font-weight:600;
    margin-bottom:4px;
}

.inputField{
    flex-grow: 1;
    flex-basis: 0;
}
